<md-content layout="column">

	<!-- Question Selection -->
	<div layout="row">
		<div flex="50">
			<md-checkbox ng-model="data.happinessCheckbox" aria-label="Happiness Checkbox">
				Happiness
			</md-checkbox>
		</div>
		<div flex>
			<md-checkbox ng-model="data.sleepQualityCheckbox" aria-label="Sleep Quality Checkbox">
				Sleep Quality
			</md-checkbox>
		</div>
	</div>
	
	<!-- Date Selection -->
	<div layout="row">
		<div flex="50">
			From: {{data.fromDate}}
			<md-datepicker ng-model="data.fromDate" md-placeholder="Enter date"></md-datepicker>
		</div>
		
		<div flex>
			To: {{data.toDate}}
			<md-datepicker ng-model="data.toDate" md-placeholder="Enter date"></md-datepicker>
		</div>
	</div>
	
	<!-- Submit Button -->
	<div layout="row" layout-align="end center">
		<md-button class="md-raised" ng-click="generateChart(data.happinessCheckbox, data.sleepQualityCheckbox, data.fromDate, data.toDate)">Generate</md-button>
	</div>
	
	<!-- Graph -->
	<div id="mainGraphDiv" layout="row" style="max-height: 90vh">
		<div layout-padding>
			<canvas id="mainChart"></canvas>
		</div>
	</div>

</md-content>