<md-content ng-cloak>
	<div layout="column">
		<md-card flex="50" class="slider" id="slider">
			<!-- Question Selection -->
			<div layout="row">
				<div layout="row" layout-padding layout-align="start center" flex>
					<div layout="row">
						<div class="moodText" layout="column" layout-padding>
							<md-checkbox class="md-primary" ng-model="data.moodCheckbox" aria-label="Mood Checkbox">
								Mood
							</md-checkbox>
						</div>
						<div class="sleepText" layout="column" layout-padding>
							<md-checkbox class="md-primary" ng-model="data.sleepCheckbox" aria-label="Sleep Checkbox">
								Sleep
							</md-checkbox>
						</div>

						<div class="stressText" layout="column" layout-padding>
							<md-checkbox class="md-primary" ng-model="data.stressCheckbox" aria-label="Stress Checkbox">
								Stress
							</md-checkbox>
						</div>
						<div class="dietText" layout="column" layout-padding>
							<md-checkbox class="md-primary" ng-model="data.dietCheckbox" aria-label="Diet Checkbox">
								Diet
							</md-checkbox>
						</div>
					</div>
<!--					<div layout="column" flex flex-offset="40" style="height: 100%;">
						<div layout-padding>
							<md-datepicker ng-model="data.fromDate" md-max-date="data.toDate" md-placeholder="Enter date"></md-datepicker>
						</div>
						<div layout-padding class="md-datePicker-align">
							<md-datepicker ng-model="data.toDate" md-min-date="data.fromDate" md-placeholder="Enter date"></md-datepicker>
						</div>
					</div> -->
				</div>
			</div>
			
			<!-- Submit Button -->
<!--			<div layout="row" layout-align="end center">
				<md-button class="md-raised buttonBold" ng-click="generateChart(data.moodCheckbox, data.stressCheckbox, data.dietCheckbox, data.sleepCheckbox, data.fromDate, data.toDate)">Generate</md-button>
				<md-button class="md-raised buttonBold" ng-click="redirectToCheckinLog()">Check-In Log</md-button>
			</div>
-->			
		</md-card>
		
		<div flex ng-show="!pageElements.loadComplete && pageElements.loadStarted && !pageElements.hideAllElements">
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		</div>
		
		<md-card ng-show="pageElements.hideAllElements" layout-align="center center">
			<div>
				No Check-Ins Found!
			</div>
		</md-card>
		
		<!-- Maximize Button -->
<!--		<div layout="row" layout-align="center center" layout-padding>
			<md-button class="md-raised buttonBold" onclick="document.getElementById('slider').classList.toggle('closed');">Test Slider Button</md-button>
		</div>
-->		
<!--		<div flex="50" ng-show="pageElements.loadComplete" ng-hide="pageElements.hideAllElements">			
			<div layout="column" ng-show="pageElements.moodValues">
				<div layout="row" layout-padding>
					<div layout="row" flex layout-align="center center" >
						<div class="scoreTitle">Mood Score</div>
					</div>
				</div>
				<div layout="column" layout-padding>
					<div layout="row" layout-padding>
						<div layout="row" flex layout-align="center center">
							<div class="scoreHeader">Average Score: Selected Dates</div>
						</div>
						<div layout="row" flex layout-align="center center">
							<div class="scoreHeader">Average Score: Total</div>
						</div>
					</div>
					<div layout="row" layout-padding>
						<div layout="row" flex layout-align="center center">
							<span class="scoreValue">{{moodScoreAverage}} / 10</span>
						</div>
						<div layout="row" flex layout-align="center center">
							<span class="scoreValue">{{moodGrandAverage}} / 10</span>
						</div>
					</div>
				</div>
				
				<md-divider layout-padding></md-divider>
			</div>
<!--			<div layout="column" ng-show="pageElements.sleepValues">
				<div layout="row" layout-padding>
					<div layout="row" flex layout-align="center center" >
						<div class="scoreTitle">Sleep Score</div>
					</div>
				</div>
				<div layout="column" layout-padding>
					<div layout="row" layout-padding>
						<div layout="row" flex layout-align="center center">
							<div class="scoreHeader">Average Score: Selected Dates</div>
						</div>
						<div layout="row" flex layout-align="center center">
							<div class="scoreHeader">Average Score: Total</div>
						</div>
					</div>
					<div layout="row" layout-padding>
						<div layout="row" flex layout-align="center center">
							<span class="scoreValue">{{sleepScoreAverage}} / 10</span>
						</div>
						<div layout="row" flex layout-align="center center">
							<span class="scoreValue">{{sleepGrandAverage}} / 10</span>
						</div>
					</div>
				</div>
				
				<md-divider layout-padding></md-divider>
			</div>
			<div layout="column" ng-show="pageElements.stressValues">
				<div layout="row" layout-padding>
					<div layout="row" flex layout-align="center center" >
						<div class="scoreTitle">Stress Score</div>
					</div>
				</div>
				<div layout="column" layout-padding>
					<div layout="row" layout-padding>
						<div layout="row" flex layout-align="center center">
							<div class="scoreHeader">Average Score: Selected Dates</div>
						</div>
						<div layout="row" flex layout-align="center center">
							<div class="scoreHeader">Average Score: Total</div>
						</div>
					</div>
					<div layout="row" layout-padding>
						<div layout="row" flex layout-align="center center">
							<span class="scoreValue">{{stressScoreAverage}} / 10</span>
						</div>
						<div layout="row" flex layout-align="center center">
							<span class="scoreValue">{{stressGrandAverage}} / 10</span>
						</div>
					</div>
				</div>
				
				<md-divider layout-padding></md-divider>
			</div>
			
			<div layout="column" ng-show="pageElements.dietValues">
				<div layout="row" layout-padding>
					<div layout="row" flex layout-align="center center" >
						<div class="scoreTitle">Diet Score</div>
					</div>
				</div>
				<div layout="column" layout-padding>
					<div layout="row" layout-padding>
						<div layout="row" flex layout-align="center center">
							<div class="scoreHeader">Average Score: Selected Dates</div>
						</div>
						<div layout="row" flex layout-align="center center">
							<div class="scoreHeader">Average Score: Total</div>
						</div>
					</div>
					<div layout="row" layout-padding>
						<div layout="row" flex layout-align="center center">
							<span class="scoreValue">{{dietScoreAverage}} / 10</span>
						</div>
						<div layout="row" flex layout-align="center center">
							<span class="scoreValue">{{dietGrandAverage}} / 10</span>
						</div>
					</div>
				</div>
				
				<md-divider layout-padding></md-divider>
			</div>
-->		
			<!-- Graph -->
			<md-card>
				<div layout="row">
					<div id="chartDiv" layout-fill>
<!--					<div class="graphBounds">  -->
						<canvas id="mainChart"></canvas>
<!--					</div>  -->
					</div>	
				</div>
			</md-card>

			
			<div class="scoreBar" layout="row" layout-align="center center stretch" ng-show="pageElements.loadComplete" >			
				<div ng-show="pageElements.moodValues">
					<div layout="column" layout-align="center center" style="height: 100%;">
						<span class="btn2 moodBackground" ng-click="">Mood<br>{{moodScoreAverage}} / 10</span>
					</div>
				</div>
				
				<div ng-show="pageElements.stressValues">
					<div layout="column" layout-align="center center" style="height: 100%;">
						<span class="btn2 stressBackground" ng-click="">Stress<br>{{stressScoreAverage}} / 10</span>
					</div>
				</div>
				
				<div ng-show="pageElements.dietValues">
					<div layout="column" layout-align="center center" style="height: 100%;">
						<span class="btn2 dietBackground" ng-click="">Diet<br>{{dietScoreAverage}} / 10</span>
					</div>
				</div>	
				
				<div ng-show="pageElements.sleepValues">
					<div layout="column" layout-align="center center" style="height: 100%;">
						<span class="btn2 sleepBackground" ng-click="">Sleep<br>{{sleepScoreAverage}} / 10</span>
					</div>
				</div>
				
			</div>
			
			
<!--  Code Modded by TJ -->
			
			<div layout="column" layout-align="center center"  style="height: 100%;">
				<div layout-padding>
					<md-datepicker ng-model="data.fromDate" md-max-date="data.toDate" md-placeholder="Enter date"></md-datepicker>
				</div>
				<div layout-padding class="md-datePicker-align">
					<md-datepicker ng-model="data.toDate" md-min-date="data.fromDate" md-placeholder="Enter date"></md-datepicker>
				</div>
				<div layout="row">
					<md-button class="md-raised md-primary buttonBold" ng-click="generateChart(data.moodCheckbox, data.stressCheckbox, data.dietCheckbox, data.sleepCheckbox, data.fromDate, data.toDate)">Generate</md-button>
					<md-button class="md-raised md-primary buttonBold" ng-click="redirectToCheckinLog()">Check-In Log</md-button>
			</div>
			</div>
			
<!-- End Mod  -->			
		</div>
		
		
		
	</div>
	
</md-content>