<md-content layout-align="start center" layout="column">

    <img src="imgs/feelings/face{{checkinTotal}}.png" class="feelingImg"/>

    <div layout="row" layout-align="center">
        <div class="navArrowBtn" ng-class="{'disabled': !hasPrev}" ng-click="prevEntry()">
            <img src="imgs/leftArrow.png" class="arrow">
        </div>
        <div class="navArrowBtn" ng-class="{'disabled': !hasNext}" ng-click="nextEntry()">
            <img src="imgs/rightArrow.png" class="arrow">
        </div>
    </div>

    <h3>On {{entry.date | date: 'longDate'}}, you were feeling:</h3>
	
	<!-- Center doesn't work atm -->
	<div layout="row" flex layout-align="center center">
		<div flex>
			<p ng-show="notesProvided" ng-bind="entry.entryNote" class="descriptionText"></p>
			<p ng-show="!notesProvided" class="descriptionText">No notes were provided for this check-in!</p>
		</div>
	</div>
</md-content>
