<md-content layout-align="start center" layout="column" class="wt dailyEntry">

    <img src="imgs/feelings/face{{feelingScore}}.png" class="feelingImg"/>

    <md-slider flex min="1" max="10" ng-model="feelingScore" class="slider md-primary" md-discrete></md-slider>
    <h3 class="sliderHeader">How are you feeling?</h3>

    <md-slider flex min="1" max="10" ng-model="sleepScore" class="slider md-primary" md-discrete></md-slider>
    <h3 class="sliderHeader">How was your sleep?</h3>
	
    <md-slider flex min="1" max="10" ng-model="dietScore" class="slider md-primary" md-discrete></md-slider>
    <h3 class="sliderHeader">How healthy did you eat today?</h3>

    <md-slider flex min="1" max="10" ng-model="stressScore" class="slider md-primary" md-discrete></md-slider>
    <h3 class="sliderHeader">How is your current stress level?</h3>	

    <md-input-container class="md-block descriptionContainer">
        <label>What's on your mind?</label>
        <textarea ng-model="description" md-maxlength="500" maxlength="500" class="descriptionText"></textarea>
    </md-input-container>

    <div>
        <md-button class="md-raised md-primary" ng-click="saveEntry()" href="#analyticDashboard">Done</md-button>
    </div>

</md-content>