<md-content>
	<div layout="column" layout-align="center center">
		<div ng-show="pageElements.invalidName">
			{{pageElements.invalidNameText}}!
		</div>
		
		<div ng-show="pageElements.invalidAnswer">
			{{pageElements.invalidAnswerText}}!
		</div>
		
		<div ng-show="pageElements.invalidPin">
			{{pageElements.invalidNewPinText}}
		</div>
				
		<div ng-show="pageElements.phase1">
			<div>
				{{pageElements.phase1Text}}
			</div>
			<div>
				<input type="text" ng-model="userInput.firstName" name="firstName"><br>
			</div>
		</div>
		
		<div ng-show="pageElements.phase2">
			<div>
				{{pageElements.questionText}}: 
			</div>
			
			<div>
				"{{question}}"?
			</div>
			<div>
				{{pageElements.answerText}}: 
			</div>
			
			<div>
				<input type="text" ng-model="userInput.answer" name="answer"><br>
			</div>
			
		</div>
		
		<div ng-show="pageElements.phase3" layout="column">
			<div>
				{{pageElements.setYourNewPinText}}
			</div>
			
			<div>
				<div layout="row" flex>
					<input type="text" ng-model="userInput.pin" name="pin"><br>
				</div>
			
				<div flex layout="row">
					<div flex>
						<md-button class="md-raised" ng-click="addNumbers(1)">1</md-button>
					</div>
					<div flex>
						<md-button class="md-raised" ng-click="addNumbers(2)">2</md-button>
					</div>
					<div flex>
						<md-button class="md-raised" ng-click="addNumbers(3)">3</md-button>
					</div>
				</div>
				<div layout="row">
					<div>
						<md-button class="md-raised" ng-click="addNumbers(4)">4</md-button>
					</div>
					<div>
						<md-button class="md-raised" ng-click="addNumbers(5)">5</md-button>
					</div>
					<div>
						<md-button class="md-raised" ng-click="addNumbers(6)">6</md-button>
					</div>
				</div>
				<div layout="row">
					<div>
						<md-button class="md-raised" ng-click="addNumbers(7)">7</md-button>
					</div>
					<div>
						<md-button class="md-raised" ng-click="addNumbers(8)">8</md-button>
					</div>
					<div>
						<md-button class="md-raised" ng-click="addNumbers(9)">9</md-button>
					</div>
				</div>
				<div layout="row">
					<div>
						<md-button class="md-raised" ng-click="removeNumbers()">{{pageElements.backText}}</md-button>
					</div>
				</div>
			</div>
		</div>
		
		<div>
			<md-button class="md-raised md-primary" ng-click="submitInput()">{{pageElements.submitText}}</md-button>
		</div>
	
	</div>
</md-content>