<md-content layout="column" layout-fill ng-cloak>

	<!------------ Mini Tool #1 ------------>
	<div class="miniToolTop" layout="row" layout-align="center center" flex="33">
		<h1 class="md-headline">Mini Tool #1</h1>
	</div>
	
	<!------------ Mini Tool #2 ------------>
	<div class="center miniToolMiddle" layout="row" layout-align="center center" flex="33">
		<h1 class="md-headline">
			Mini Tool #2
			<p>(Note that everything here other than the header and side nav is injected via home.html and our routeProvider in app.js)</p>
		</h1>
	</div>
	
	<!------------ Mini Tool #3 ------------>
	<div class="miniToolBottom" layout="row" layout-align="center center" flex>
		<h1 class="md-headline">Mini Tool #3</h1>
	</div>
</md-content>