<md-content>
	<div style="margin-top: 10%" layout="column" layout-align="center center">
		
		<div layout="row" ng-show="pageElements.invalidLoginPin">
			{{pageElements.invalidPinText}}!
		</div>
		
		<div layout="row" flex>
			<input type="text" ng-model="userInput.pin" name="pin"><br>
		</div>
	
		<div flex layout="row">
			<div flex>
				<md-button class="md-raised" ng-click="addNumbers(1)">1</md-button>
			</div>
			<div flex>
				<md-button class="md-raised" ng-click="addNumbers(2)">2</md-button>
			</div>
			<div flex>
				<md-button class="md-raised" ng-click="addNumbers(3)">3</md-button>
			</div>
		</div>
		<div layout="row">
			<div>
				<md-button class="md-raised" ng-click="addNumbers(4)">4</md-button>
			</div>
			<div>
				<md-button class="md-raised" ng-click="addNumbers(5)">5</md-button>
			</div>
			<div>
				<md-button class="md-raised" ng-click="addNumbers(6)">6</md-button>
			</div>
		</div>
		<div layout="row">
			<div>
				<md-button class="md-raised" ng-click="addNumbers(7)">7</md-button>
			</div>
			<div>
				<md-button class="md-raised" ng-click="addNumbers(8)">8</md-button>
			</div>
			<div>
				<md-button class="md-raised" ng-click="addNumbers(9)">9</md-button>
			</div>
		</div>
		<div layout="row">
			<div>
				<md-button class="md-raised" ng-click="addNumbers(0)">0</md-button>
			</div>
			<div>
				<md-button class="md-raised" ng-click="removeNumbers()">{{pageElements.backText}}</md-button>
			</div>

		</div>
		<div layout="row">
			<div layout-align="start center">
				<md-button class="md-raised md-primary" ng-click="login()">{{pageElements.loginText}}</md-button>
			</div>
			<div layout-align="end center">
				<md-button class="md-raised md-primary" ng-click="forgotPin()">{{pageElements.forgotMyPinText}}</md-button>
			</div>
		</div>
		<div layout="row">
			<div>
				<md-button class="md-raised md-primary" ng-click="newUser()">{{pageElements.createNewUserText}}</md-button>
			</div>
		</div>
	</div>

</md-content>