<md-content class="wt">

	<md-button class="md-raised md-primary">+ Add New Entry</md-button>
    <md-list>
        <md-list-item ng-repeat="entry in entryList" class="noright entryItem" layout="row">
            <span class="entryColor entryRatingColor{{entry.feelingRating}}"></span>
            <div class="entryDate" flex layout="column" layout-align="center start">
                <span ng-bind="(entry.date | date:'longDate')"></span>
            </div>
            <a class="viewEntryBtn" layout="column" layout-align="center start" href="#wellnessTracker/entry/{{::entry.id}}">
                <span>View Entry</span>
            </a>
        </md-list-item>
    </md-list>


</md-content>